/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.skinDeclaration {
	/* Animations */
	Intro_Animation: Embed(source="/../../../assets/VideoSlots/CherryBomb/animations/Intro.swf", mimeType="application/octet-stream");
	BonusGameIntro_Animation: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/BonusGame_Intro.swf", mimeType="application/octet-stream");	
	BonusGameIcon_Animation: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/BonusGame_Icon.swf", mimeType="application/octet-stream");
	BonusGameExit_Animation: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/BonusGame_Exit.swf", mimeType="application/octet-stream");
		
	/* Sprites */
	Sprite_C: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_C.png");		
	Sprite_C_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_C_1.png");		
	Sprite_C_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_C_2.png");
	Sprite_C_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_C_3.png");		
	
	Sprite_D_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_D_1.png");		
	Sprite_D_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_D_2.png");
	Sprite_D_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_D_3.png");
	Sprite_D_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_D_4.png");	
	Sprite_D_5: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_D_5.png");
	Sprite_D_6: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_D_6.png");
	Sprite_D_7: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_D_7.png");
	Sprite_D_8: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_D_8.png"); 		
	
	Sprite_E: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_E.png");
	Sprite_E_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_E_1.png");
	Sprite_E_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_E_2.png");
	Sprite_E_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Sprite_E_3.png");				
	
	/* Images */
	Skin: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Skin.png");
	Skin1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Skin1.png");
	SkinFreeSpins: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/SkinFreeSpins.png");
	LineNumbersLeft: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/LineNumbers_Left_v2.png");
	LineNumbersRight: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/LineNumbers_Right_v2.png");
	InfoSkin: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/InfoSkin.jpg");	
	InfoPaytableTitle: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/InfoPaytableTitle.png");
	InfoNavigator: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/InfoNavigator.png");
	InfoNext: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/InfoNext.png");		
	InfoPrevious: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/InfoPrevious.png");
	InfoBetLines: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/InfoBetLines.png");
	InfoBonusGame: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/InfoBonusGame.png");
	BackToGame: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/BackToGame.png");
	BackToGame_over: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/BackToGame_over.png");
	Transparent: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Transparent.png");	
	Bonus2xBig: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Bonus2xBig.png");
	Bonus2xSmall: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/Bonus2xSmall.png");	
	
	/* Images - Reel Icons*/
	ReelIcon_A: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A.png");
	ReelIcon_A_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_1.png"); 		
	ReelIcon_A_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_2.png");
	ReelIcon_A_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_3.png");		
	ReelIcon_A_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_4.png");		
	ReelIcon_A_5: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_5.png");		
	ReelIcon_A_6: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_6.png");		
	ReelIcon_A_7: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_7.png");		
	ReelIcon_A_8: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_8.png");		
	ReelIcon_A_9: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_9.png");		
	ReelIcon_A_10: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_10.png"); 		
	ReelIcon_A_11: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_11.png");		
	ReelIcon_A_12: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_A_12.png");
	
	ReelIcon_B: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B.png");	
	ReelIcon_B_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_1.png"); 		
	ReelIcon_B_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_2.png");		
	ReelIcon_B_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_3.png");		
	ReelIcon_B_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_4.png");		
	ReelIcon_B_5: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_5.png");		
	ReelIcon_B_6: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_6.png");		
	ReelIcon_B_7: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_7.png");		
	ReelIcon_B_8: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_8.png");
	ReelIcon_B_9: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_9.png");		
	ReelIcon_B_10: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_10.png"); 		
	ReelIcon_B_11: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_11.png");		
	ReelIcon_B_12: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_B_12.png");
	
	ReelIcon_C: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C.png");	
	ReelIcon_C_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_1.png");
	ReelIcon_C_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_2.png");		
	ReelIcon_C_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_3.png");		
	ReelIcon_C_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_4.png");		
	ReelIcon_C_5: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_5.png");		
	ReelIcon_C_6: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_6.png");		
	ReelIcon_C_7: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_7.png");		
	ReelIcon_C_8: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_8.png");
	ReelIcon_C_9: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_9.png");		
	ReelIcon_C_10: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_10.png"); 		
	ReelIcon_C_11: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_11.png");		
	ReelIcon_C_12: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_C_12.png");
	
	ReelIcon_D: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_D.png");	
	ReelIcon_D_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_D_1.png"); 		
	ReelIcon_D_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_D_2.png"); 		
	ReelIcon_D_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_D_3.png");		
	ReelIcon_D_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_D_4.png");
	ReelIcon_D_5: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_D_5.png");		
	
	ReelIcon_E: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_E.png");	
	ReelIcon_E_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_E_1.png"); 		
	ReelIcon_E_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_E_2.png");		
	ReelIcon_E_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_E_3.png");		
	ReelIcon_E_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_E_4.png");
	ReelIcon_E_5: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_E_5.png");		
	ReelIcon_E_6: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_E_6.png");		
	
	ReelIcon_F: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_F.png");	
	ReelIcon_F_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_F_1.png"); 		
	ReelIcon_F_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_F_2.png");		
	ReelIcon_F_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_F_3.png");		
	ReelIcon_F_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_F_4.png");
	ReelIcon_F_5: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_F_5.png");		
	ReelIcon_F_6: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_F_6.png");		
	
	ReelIcon_G: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_G.png");	
	ReelIcon_G_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_G_1.png");
	ReelIcon_G_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_G_2.png");		
	ReelIcon_G_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_G_3.png");		
	ReelIcon_G_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_G_4.png");
	ReelIcon_G_5: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_G_5.png");		
	ReelIcon_G_6: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_G_6.png");		
	
	ReelIcon_H: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_H.png");	
	ReelIcon_H_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_H_1.png"); 		
	ReelIcon_H_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_H_2.png"); 		
	ReelIcon_H_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_H_3.png");
	ReelIcon_H_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_H_4.png");
	ReelIcon_H_5: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_H_5.png");		
	ReelIcon_H_6: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_H_6.png");		
	ReelIcon_H_7: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_H_7.png");		
	ReelIcon_H_8: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_H_8.png");
	
	ReelIcon_I: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_I.png");	
	ReelIcon_I_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_I_1.png");
	ReelIcon_I_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_I_2.png");		
	ReelIcon_I_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_I_3.png");		
	ReelIcon_I_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_I_4.png");
	ReelIcon_I_5: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_I_5.png");		
	ReelIcon_I_6: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_I_6.png");		
	ReelIcon_I_7: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_I_7.png");		
	
	ReelIcon_J: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_J.png");	
	ReelIcon_J_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_J_1.png");
	ReelIcon_J_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_J_2.png");		
	ReelIcon_J_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_J_3.png");		
	ReelIcon_J_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_J_4.png");
	
	ReelIcon_K: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K.png");
	ReelIcon_K_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_1.png");
	ReelIcon_K_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_2.png");		
	ReelIcon_K_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_3.png");		
	ReelIcon_K_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_4.png");		
	ReelIcon_K_5: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_5.png");		
	ReelIcon_K_6: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_6.png");		
	ReelIcon_K_7: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_7.png");
	ReelIcon_K_8: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_8.png");
	ReelIcon_K_9: Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_9.png");
	ReelIcon_K_10:Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_10.png"); 
	ReelIcon_K_11:Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_11.png"); 
	ReelIcon_K_12:Embed(source="/../../../assets/VideoSlots/CherryBomb/images/ReelIcon_K_12.png"); 
	
	/* Bonus Images */
	BonusBG: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/images/BonusBG.jpg");
	BonusWinDisplay: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/images/BonusWinDisplay.png");			
	BonusIconExit: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/images/BonusIconExit.png");
	FreeSpins: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/images/FreeSpins.jpg");
	
	/* Sounds */
	Intro_Audio: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/IntroAudio.mp3");
	Background_Audio: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/BackgroundAudio.mp3");
	Bonus_Audio: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/BonusAudio.mp3");
	Spin_Start: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/Spin_Start.mp3");		
	Spin_Stop: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/Spin_Stop.mp3");			
	
	/* Winning Lines */
	LineWin_A: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/LineWin_A.mp3"); /* Played for ReelIcon_A */	
	LineWin_B: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/LineWin_B.mp3"); /* Played for ReelIcon_B */
	LineWin_C: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/LineWin_C.mp3"); /* Played for ReelIcon_C */ 				
	LineWin_High: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/LineWin_High.mp3"); /* Played for ReelIcon_D, E, F */ 				
	LineWin_Low: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/LineWin_Low.mp3"); /* Played for ReelIcon_G, H, I, J */						
						
	/* Scatter Icons */
	Scatter_Anticipation: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/Scatter_Anticipation.mp3");
	Scatter_Win: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/Scatter_Win.mp3");
	Scatter_0: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/Scatter_0.mp3");	
	Scatter_1: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/Scatter_1.mp3");	
	Scatter_2: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/Scatter_2.mp3");	
	Scatter_3: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/Scatter_3.mp3");	
	Scatter_4: Embed(source="/../../../assets/VideoSlots/CherryBomb/sounds/Scatter_4.mp3");	
	
	/* Bonus Sounds */
	Intro: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/sounds/Intro.mp3");
	Exit: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/sounds/Exit.mp3");
	Ambience: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/sounds/Ambience.mp3");
	Win1: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/sounds/Win1.mp3");
	Win2: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/sounds/Win2.mp3");
	Lose1: Embed(source="/../../../assets/VideoSlots/CherryBomb/BonusGame/sounds/Lose1.mp3");	
	
	/* Fonts */
	bradyBunch: Embed( source='/../../../assets/VideoSlots/CherryBomb/fonts/bradbunr.ttf', fontFamily='bradyBunch', mimeType='application/x-font' );
	vasca: Embed( source='/../../../assets/VideoSlots/CherryBomb/fonts/vasca.ttf', fontFamily='vasca', mimeType='application/x-font' );
	ziggy: Embed( source='/../../../assets/VideoSlots/CherryBomb/fonts/ziggy.ttf', fontFamily='ziggy', mimeType='application/x-font' );
}