/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.skinDeclaration {
	/* Animations */
	Intro_Animation: Embed(source="/../../../assets/VideoSlots/MayanMoney/animations/Intro.flv", mimeType="application/octet-stream");
	BonusGameIntro_Animation: Embed(source="/../../../assets/VideoSlots/MayanMoney/BonusGame/BonusGame_Intro.flv", mimeType="application/octet-stream");	
	BonusGameIcon_Animation: Embed(source="/../../../assets/VideoSlots/MayanMoney/BonusGame/BonusGame_Icon.swf", mimeType="application/octet-stream");
	BonusGameExit_Animation: Embed(source="/../../../assets/VideoSlots/MayanMoney/BonusGame/BonusGame_Exit.flv", mimeType="application/octet-stream");
		
	/* Sprites */
	Sprite_C: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_C.png");		
	Sprite_C_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_C_1.png");		
	Sprite_C_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_C_2.png");
	Sprite_C_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_C_3.png");
	Sprite_C_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_C_4.png");		
	Sprite_C_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_C_5.png");
	Sprite_C_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_C_6.png");
	Sprite_C_7: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_C_7.png");
	
	Sprite_D_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_D_1.png");		
	Sprite_D_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_D_2.png");
	Sprite_D_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_D_3.png");
	Sprite_D_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_D_4.png");	
	Sprite_D_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_D_5.png");
	Sprite_D_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_D_6.png");
	Sprite_D_7: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_D_7.png");
	Sprite_D_8: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_D_8.png"); 		
	
	Sprite_E: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_E.png");
	Sprite_E_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_E_1.png");
	Sprite_E_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_E_2.png");
	Sprite_E_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_E_3.png");
	Sprite_E_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_E_4.png");
	Sprite_E_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_E_5.png");
	Sprite_E_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Sprite_E_6.png");
	
	/* Images */
	Skin: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Skin.png");
	Skin1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Skin1.png");
	SkinFreeSpins: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/SkinFreeSpins.png");
	LineNumbersLeft: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/LineNumbers_Left.png");
	LineNumbersRight: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/LineNumbers_Right.png");
	InfoSkin: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/InfoSkin.png");	
	InfoPaytableTitle: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/InfoPaytableTitle.png");
	InfoNavigator: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/InfoNavigator.png");
	InfoNext: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/InfoNext.png");		
	InfoPrevious: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/InfoPrevious.png");
	InfoBetLines: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/InfoBetLines.png");
	InfoBonusGame: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/InfoBonusGame.png");
	BackToGame: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/BackToGame.png");
	BackToGame_over: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/BackToGame_over.png");
	Transparent: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Transparent.png");	
	Bonus2xBig: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Bonus2xBig.png");
	Bonus2xSmall: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/Bonus2xSmall.png");	
	
	/* Images - Reel Icons*/
	ReelIcon_A: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_A.png");
	ReelIcon_A_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_A_1.png"); 		
	ReelIcon_A_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_A_2.png");
	ReelIcon_A_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_A_3.png");		
	ReelIcon_A_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_A_4.png");		
	ReelIcon_A_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_A_5.png");		
	ReelIcon_A_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_A_6.png");		
	
	ReelIcon_B: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_B.png");	
	ReelIcon_B_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_B_1.png"); 		
	ReelIcon_B_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_B_2.png");		
	ReelIcon_B_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_B_3.png");		
	ReelIcon_B_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_B_4.png");		
	ReelIcon_B_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_B_5.png");		
	ReelIcon_B_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_B_6.png");		
	
	ReelIcon_C: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_C.png");	
	ReelIcon_C_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_C_1.png");
	ReelIcon_C_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_C_2.png");		
	ReelIcon_C_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_C_3.png");		
	ReelIcon_C_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_C_4.png");		
	ReelIcon_C_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_C_5.png");		
	ReelIcon_C_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_C_6.png");		
	
	ReelIcon_D: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_D.png");	
	ReelIcon_D_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_D_1.png"); 		
	ReelIcon_D_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_D_2.png"); 		
	ReelIcon_D_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_D_3.png");		
	ReelIcon_D_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_D_4.png");
	ReelIcon_D_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_D_5.png");
	ReelIcon_D_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_D_6.png");		
	
	ReelIcon_E: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_E.png");	
	ReelIcon_E_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_E_1.png"); 		
	ReelIcon_E_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_E_2.png");		
	ReelIcon_E_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_E_3.png");		
	ReelIcon_E_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_E_4.png");
	ReelIcon_E_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_E_5.png");		
	ReelIcon_E_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_E_6.png");
	
	ReelIcon_F: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_F.png");	
	ReelIcon_F_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_F_1.png"); 		
	ReelIcon_F_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_F_2.png");		
	ReelIcon_F_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_F_3.png");		
	ReelIcon_F_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_F_4.png");
	ReelIcon_F_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_F_5.png");		
	ReelIcon_F_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_F_6.png");
	
	ReelIcon_G: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_G.png");	
	ReelIcon_G_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_G_1.png");
	ReelIcon_G_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_G_2.png");		
	ReelIcon_G_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_G_3.png");		
	ReelIcon_G_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_G_4.png");
	ReelIcon_G_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_G_5.png");		
	ReelIcon_G_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_G_6.png");
	
	ReelIcon_H: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_H.png");	
	ReelIcon_H_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_H_1.png"); 		
	ReelIcon_H_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_H_2.png"); 		
	ReelIcon_H_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_H_3.png");
	ReelIcon_H_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_H_4.png");
	ReelIcon_H_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_H_5.png");		
	ReelIcon_H_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_H_6.png");		
	
	ReelIcon_I: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_I.png");	
	ReelIcon_I_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_I_1.png");
	ReelIcon_I_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_I_2.png");		
	ReelIcon_I_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_I_3.png");		
	ReelIcon_I_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_I_4.png");
	ReelIcon_I_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_I_5.png");		
	ReelIcon_I_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_I_6.png");		
	
	ReelIcon_J: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_J.png");	
	ReelIcon_J_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_J_1.png");
	ReelIcon_J_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_J_2.png");		
	ReelIcon_J_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_J_3.png");		
	ReelIcon_J_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_J_4.png");
	ReelIcon_J_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_J_5.png");		
	ReelIcon_J_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_J_6.png");		
	
	ReelIcon_K: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_K.png");
	ReelIcon_K_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_K_1.png");
	ReelIcon_K_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_K_2.png");		
	ReelIcon_K_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_K_3.png");		
	ReelIcon_K_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_K_4.png");		
	ReelIcon_K_5: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_K_5.png");		
	ReelIcon_K_6: Embed(source="/../../../assets/VideoSlots/MayanMoney/images/ReelIcon_K_6.png");		
	
	/* Bonus Images */
	BonusBG: Embed(source="/../../../assets/VideoSlots/MayanMoney/BonusGame/images/BonusBG.png");
	BonusWinDisplay: Embed(source="/../../../assets/VideoSlots/MayanMoney/BonusGame/images/BonusWinDisplay.png");			
	BonusIconExit: Embed(source="/../../../assets/VideoSlots/MayanMoney/BonusGame/images/BonusIconExit.png");
	FreeSpins: Embed(source="/../../../assets/VideoSlots/MayanMoney/BonusGame/images/FreeSpins.png");
	
	/* Sounds */
	Background_Audio: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/BackgroundAudio.mp3");
	Spin_Start: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/Spin_Start.mp3");		
	Spin_Stop: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/Spin_Stop.mp3");			
	
	/* Winning Lines */
	LineWin_A: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_A.mp3"); /* Played for ReelIcon_A */	
	LineWin_B: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_B.mp3"); /* Played for ReelIcon_B */
	LineWin_C: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_C.mp3"); /* Played for ReelIcon_C */	
	LineWin_D: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_D.mp3"); /* Played for ReelIcon_D */
	LineWin_E: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_E.mp3"); /* Played for ReelIcon_E */
	LineWin_F: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_F.mp3"); /* Played for ReelIcon_F */
	LineWin_G: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_G.mp3"); /* Played for ReelIcon_G */
	LineWin_H: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_H.mp3"); /* Played for ReelIcon_H */
	LineWin_I: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_I.mp3"); /* Played for ReelIcon_I */
	LineWin_J: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_J.mp3"); /* Played for ReelIcon_J */	
	LineWin_High: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_High.mp3"); /* Played for ReelIcon_D, E, F */ 				
	LineWin_Low: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/LineWin_Low.mp3"); /* Played for ReelIcon_G, H, I, J */						
						
	/* Scatter Icons */
	Scatter_Anticipation: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/Scatter_Anticipation.mp3");
	Scatter_Win: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/Scatter_Win.mp3");
	Scatter_0: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/Scatter_0.mp3");	
	Scatter_1: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/Scatter_1.mp3");	
	Scatter_2: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/Scatter_2.mp3");	
	Scatter_3: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/Scatter_3.mp3");	
	Scatter_4: Embed(source="/../../../assets/VideoSlots/MayanMoney/sounds/Scatter_4.mp3");	
	
	/* Bonus Sounds */
	Ambience: Embed(source="/../../../assets/VideoSlots/MayanMoney/BonusGame/sounds/Ambience.mp3");
	Win1: Embed(source="/../../../assets/VideoSlots/MayanMoney/BonusGame/sounds/Win1.mp3");
	Win2: Embed(source="/../../../assets/VideoSlots/MayanMoney/BonusGame/sounds/Win2.mp3");
	Lose1: Embed(source="/../../../assets/VideoSlots/MayanMoney/BonusGame/sounds/Lose1.mp3");	
	
	/* Fonts */
	patternsDots: Embed( source='/../../../assets/VideoSlots/MayanMoney/fonts/Patterns&Dots.ttf', fontFamily='patternsDots', mimeType='application/x-font', embedAsCFF='true' );
	bradyBunch: Embed( source='/../../../assets/VideoSlots/MayanMoney/fonts/bradbunr.ttf', fontFamily='bradyBunch', mimeType='application/x-font' );
}