/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.skinDeclaration {
	/* Images */
	Skin: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Skin.png");		
	CardBack: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/CardBack.png");
	Header: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Header.jpg");
	Paytable: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Paytable.png");
	BonusBG: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/BonusBG.jpg");		
	Hold: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hold.png");			
	
	Clubs_13: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_13.png");
	Clubs_12: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_12.png");
	Clubs_11: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_11.png");
	Clubs_10: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_10.png");
	Clubs_9: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_9.png");
	Clubs_8: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_8.png");
	Clubs_7: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_7.png");
	Clubs_6: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_6.png");
	Clubs_5: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_5.png");
	Clubs_4: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_4.png");
	Clubs_3: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_3.png");
	Clubs_2: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_2.png");	
	Clubs_1: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Clubs_1.png");
	
	Diamonds_13: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_13.png");
	Diamonds_12: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_12.png");
	Diamonds_11: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_11.png");
	Diamonds_10: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_10.png");
	Diamonds_9: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_9.png");
	Diamonds_8: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_8.png");
	Diamonds_7: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_7.png");
	Diamonds_6: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_6.png");
	Diamonds_5: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_5.png");
	Diamonds_4: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_4.png");
	Diamonds_3: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_3.png");
	Diamonds_2: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_2.png");	
	Diamonds_1: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Diamonds_1.png");	
	
	Hearts_13: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_13.png");
	Hearts_12: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_12.png");
	Hearts_11: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_11.png");
	Hearts_10: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_10.png");
	Hearts_9: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_9.png");
	Hearts_8: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_8.png");
	Hearts_7: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_7.png");
	Hearts_6: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_6.png");
	Hearts_5: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_5.png");
	Hearts_4: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_4.png");
	Hearts_3: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_3.png");
	Hearts_2: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_2.png");	
	Hearts_1: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Hearts_1.png");	
	
	Spades_13: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_13.png");
	Spades_12: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_12.png");
	Spades_11: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_11.png");
	Spades_10: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_10.png");
	Spades_9: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_9.png");
	Spades_8: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_8.png");
	Spades_7: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_7.png");
	Spades_6: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_6.png");
	Spades_5: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_5.png");
	Spades_4: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_4.png");
	Spades_3: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_3.png");
	Spades_2: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_2.png");	
	Spades_1: Embed(source="/../../../assets/VideoPoker/PowerPoker/images/Spades_1.png");
	
	/* Sounds */
	Bonus_Start: Embed(source="/../../../assets/VideoPoker/PowerPoker/sounds/bonus_start.mp3");
	Bonus_Stop: Embed(source="/../../../assets/VideoPoker/PowerPoker/sounds/bonus_stop.mp3");
	Bonus_Win: Embed(source="/../../../assets/VideoPoker/PowerPoker/sounds/bonus_win.mp3");
	Card_Flip: Embed(source="/../../../assets/VideoPoker/PowerPoker/sounds/card_flip.mp3");	
	Card_Held: Embed(source="/../../../assets/VideoPoker/PowerPoker/sounds/card_held.mp3");
}